[submodule "applications/example"]
	path = applications/example
	url = https://github.com/rdehaan/tinysatviz-example
	branch = main
[submodule "applications/sudoku"]
	path = applications/sudoku
	url = https://github.com/rdehaan/tinysatviz-sudoku
	branch = main
[submodule "applications/clause-display"]
	path = applications/clause-display
	url = https://github.com/rdehaan/tinysatviz-clause-display
	branch = main
